<style>
/*old primary rgb(0, 188, 212) */
/*.mdl-button--fab.mdl-button--colored:hover {
    background-color: white;
}*/

.mdl-button--fab.mdl-button--colored {
    background: white;
    color: #fff;
    cursor:none;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 100;
    left: 0;
    background-color: #FAFAFA; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    border-right: 3px gray solid;
}
</style>

<div class="container" style="width:100%">
   
    <div  class="row" style="background:#1E88E5;height: 75px">
        <div class="col-lg-12" style="margin-top:10px">
            <span >
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" >
                    <img  src="./assets/Atlas.png" />
                </button>
                <span style="color:white; margin-left:20px;font-size: 16pt;font-weight: bold">Data Dictionary Lookup</span>
            </span>   
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
             <div class="sidenav"> 
                <table class="table"  *ngIf="dictionaries?.length > 0">       
                    <tbody>
                        <template ngFor let-dictionary [ngForOf]="dictionaries">

                            <tr >                  
                                <td>
                                    <button style="margin-top:-5px" type="button" class="btn btn-default btn-md" *ngIf="dictionary.Expanded == 1" (click)="dictionary.Expanded = 0">  {{dictionary.SubjectArea}} </button>
                                    <button style="margin-top:-5px" type="button" class="btn btn-default btn-md" *ngIf="dictionary.Expanded == 0" (click)="dictionary.Expanded = 1">  {{dictionary.SubjectArea}}  </button>                     
                                </td>
                                <td>
                                    <button style="color:#1E88E5;margin-top:-5px" type="button" class="btn btn-default btn-md" *ngIf="dictionary.Expanded == 1" (click)="dictionary.Expanded = 0">  <span class="glyphicon glyphicon-chevron-down"></span> </button>
                                    <button style="color:#1E88E5;margin-top:-5px" type="button" class="btn btn-default btn-md" *ngIf="dictionary.Expanded == 0" (click)="dictionary.Expanded = 1">  <span class="glyphicon glyphicon-chevron-up"></span> </button>                     
                                </td>
                            </tr>

                            <tr *ngIf="dictionary.Expanded == 1">
                                <td colspan=2>
                                    <div style="margin-bottom: 10px" *ngFor="let dataset of dictionary?.Datasets">
                                        <a routerLink="/data-dictionary/{{dataset.DatasetNameKey}}" class="nav-link" routerLinkActive="router-link-active" href="">{{dataset.DatasetBusinessName}}</a>
                                    </div>
                                </td>
                            </tr>
                        
                        </template>
                    </tbody>
                </table>
               </div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


