<div class="row" style="margin-left: 100px">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label style="color: rgb(0, 188, 212)" class="mdl-textfield__label" for="filterText">Filter...</label>
    <input  type="text" id="filterText" class="mdl-textfield__input" [(ngModel)]="filter" (keyup)="filterChanged($event)" style="color: rgb(0, 188, 212)"/>
    
  </div>
  <span style="margin-left: 20px;margin-top: 20px;margin-bottom: 0px;color: rgb(0, 188, 212)">
    <button 
     style="color: rgb(0, 188, 212)" class="mdl-button mdl-js-button mdl-button--primary" (click)="filterClicked($event)" > Search </button>
  </span>
</div>